/*!Footer*/
.footer {
	background-color: var(--bg-color);
	padding: 60px 0;
	margin: 0 auto;
 }
 .footer__content {
	display: flex;
 }
 .footer__contact {
	width: 231px;
 }
 /* Модификатор
	 logo
 */
 .logo--footer {
	color: #ffffff;
 }
 .address {
	margin-top: 20px;
	display: block;
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: #ffffff;
 }
 .address-link {
	display: block;
	color: rgba(255, 255, 255, 0.6);
	margin-top: 10px;
	text-decoration: none;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .address-link:hover,
 .address-link:focus {
	color: var(--brend-color-1);
 }
 
 .footer-invite {
	margin-left: 58px;
	padding: 12px;
 }
 .footer-invite__title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: 20px;
 }
 /*.invite-list {}
	Находится в секции
	Command
 */
 /* Модификатор для
	 invite-list
 */
 .invite-list__link--grey {
	color: #fff;
	background-color: rgba(255, 255, 255, 0.1);
 }
 
 /* Block 
	 Footer Form
 */
 .subscribe {
	margin-left: auto;
	padding: 12px;
	padding-right: 0;
 }
 
 .subcribe__label {
	display: block;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: 20px;
 }
 .subcribe__content {
	display: flex;
 }
 .subcribe__imput {
	padding: 15px;
	width: 358px;
	height: 50px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-sizing: border-box;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	margin-right: 12px;
	background: transparent;
 }
 .subcribe__imput::placeholder {
	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
 }